<div class="contationer-flex">
  <div class="row challenge-user">
    <h1 class="fixture-header text-center"><b>
      FIXTURES
    </b>
    </h1>
    <div class="col-md-6 col-md-offset-3 search-bar text-center">
        <%= search_form_for @search do |f| %>
        <%= f.label :club %>
        <%= f.text_field :club_cont, class: "radius-left expand" %>
        <%= f.label :age %>
        <%= f.select :age_cont, [["Under 7"], ["Under 8"], ["Under 9"], ["Under 10"], ["Under 11"], ["Under 12"], ["Under 13"], ["Under 14"], ["Under 15"], ["Under 16"], ["Under 17"], ["Under 18"], ["Under 18.5"], ["Junior Team"], ["Senior Team"]], include_blank: true %>
        <%= f.label :county %>
        <%= f.select :county_cont, [["Antrim"], ["Armagh"], ["Carlow"], ["Cavan"], ["Clare"], ["Cork"], ["Derry"], ["Donegal"], ["Down"], ["Dublin"], ["Fermanagh"], ["Galaway"], ["Kerry"], ["Kildare"], ["Kilkenny"], ["Laois"], ["Leitrim"], ["Limerick"], ["Longford"], ["Louth"], ["Mayo"], ["Meath"], ["Monaghan"], ["Offaly"], ["Roscommon"], ["Silgo"], ["Tipperary"], ["Tyrone"], ["Waterford"], ["Westmeath"], ["Wexford"], ["Wicklow"]], include_blank: true %>
        <%= f.label :province %>
        <%= f.select :province_cont, [["Munster"], ["Ulster"], ["Leinster"], ["Connacht"]], include_blank: true %>
        <%= f.submit "Search", class: "radius-right button search-btn" %>
        <% end %>
    </div>
  </div>
  <div class="row fix-row">
    <div class="col-md-10 col-md-offset-1">
      <% @results.in_groups_of(4, false).each do |group| %>
        <div class='row fix-row-2'>
          <% group.each do |p| %>
            <div class='col-md-3'>
              <div class="col-md-12 fix-tile">
                <p class="text-center">
                  <% if p.image.url %>
                    <%= image_tag(p.image.url, {:style => "width:150px;"}) %>
                  <% end %>
                </p>
                <h3 class="text-center">
                  <b>
                    <%= link_to p.club, fixture_path(p) %>
                  </b>
                </h3>
                <p class="text-center">
                  <%= sanitize(truncate(p.club_info, length: 100)) %>
                </p>
                <p class="text-center">
                  <b>
                    <%= p.city%>, <%= p.county%>
                  </b>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
        <%= will_paginate @results %>
    </div>
  </div>
</div>