<div class="container-flex">
  <div class="row about-header">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="about-title text-center"><b>
        ABOUT US
      </b>
      </h1>
    </div>
  </div>
  <div class="row about-body">
    <div class="col-md-7">
      <div class="col-md-12 about-body-tile">
        <h2 class="body-header"><b>
          ABOUT US
        </b></h2>
        <h4><b>
          OUR GOAL
        </b></h4>
        <p class="about-p">
          Proin nec velit sit amet est eleifend porta. In vel pharetra nisl. Aenean eleifend laoreet egestas. Suspendisse fermentum hendrerit lacus, vitae faucibus mauris elementum in. Curabitur scelerisque augue in sapien faucibus lobortis. Pellentesque id ipsum dolor. Nullam semper felis quis laoreet placerat. Aliquam vel dapibus odio, ac rhoncus augue. Nulla laoreet odio ipsum, sit amet pulvinar sapien bibendum a. Quisque quis felis auctor, rutrum risus sed, mollis nibh. Maecenas lacinia velit eget ipsum sagittis, et facilisis ex tempor. Aenean iaculis interdum leo vitae dignissim. Cras id euismod erat, sit amet gravida turpis.
        </p>
        <h3 class="about-btn-area"><b>
          <%= link_to "SIGN UP", root_path, :class => "about-btn"%>
        </b></h3>
      </div>
    </div>
    <div class="col-md-5">
      <div class="col-md-12 about-image">
        <%= image_tag "logo.1.png", style: "width: 400px"%>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center about-works-header">
      HOW RUCKIT WORKS
    </h2>
  </div>
  <div class="row about-tiles">
    <div class="col-md-4">
      <div class="col-md-12 about-tile about-tile-left">
        <div class="row text-center">
          <%= image_tag "stick figure.jpg", style: "height: 100px" %>
        </div>
        <div class="row text-center">
          <h3>
            Step 1. Create a profile
          </h3>
          <p>
            Creating an account with Ruckit couldn't be and easier.  Simple sign up with your email, create a password and you are ready to go.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 about-tile about-tile-center">
        <div class="row text-center">
          <%= image_tag "stick figure.jpg", style: "height: 100px" %>
        </div>
        <div class="row text-center">
          <h3>
            Step 2. Search for matches
          </h3>
          <p>
            Use our search bar to find suitable fixtures that have been posted from clubs across the country.  When you find a team you life, simply click the challenge button.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 about-tile about-tile-right">
        <div class="row text-center">
          <%= image_tag "stick figure.jpg", style: "height: 100px" %>
        </div>
        <div class="row text-center">
          <h3>
            Step 3. Start Playing
          </h3>
          <p>
            Once the team accepts your challenge, you can then proceed to exchange contact information.  Then all that's left is to have a great match.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 about-image-left">
      <div class="about-image-text">
        <h3>
          Find the Perfect Fixture
        </h3>
        <h3>
          For your Team
        </h3>
        <p>
          Be part of the growing rugby community online
        </p>
        <h3><b>
        <%= link_to "Join Now", root_path, :class => "about-btn-join"%>
        </b></h3>
      </div>

    </div>
    <div class="col-md-6 about-image-right">
    </div>
  </div>
  <div class="row about-test-body">
    <div class="col-md-5 col-md-offset-2">
      <p class="about-test">
        Etiam rhoncus massa id sem rhoncus, a volutpat quam vulputate. Proin ornare porttitor augue, a lobortis lacus suscipit euismod. Sed non accumsan urna, nec interdum tellus. Integer consectetur in quam eu vehicula. Curabitur quis vulputate ex. Fusce pulvinar maximus elementum. Fusce sit amet porta lacus, ut aliquam nisi.
      </p>
    </div>
    <div class="col-md-2 text-center">
      <div class="row about-test-pic">
        <%= image_tag "stick figure.jpg", style: "height: 100px" %>
      </div>
      <div class="row about-tester">
        <p><b>David Parker</b></p>
        <p>Senior Coach - Young Munster RFC</p>
      </div>
    </div>
  </div>

</div>