<div class="container-flex">
  <div class="row contact-header">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="about-title text-center"><b>
        CONTACT US
      </b>
      </h1>
    </div>
  </div>
  <div class="row contact-tiles">
    <div class="col-md-4">
      <div class="col-md-12 about-tile about-tile-left">
        <div class="row text-center">
          <%= image_tag "map.png", style: "height: 100px" %>
        </div>
        <div class="row text-center">
          <h3>
            Address
          </h3>
          <p>
            44 Gracedieu Street
          </p>
          <p>
            Waterford City Munster
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 about-tile about-tile-center">
        <div class="row text-center">
          <%= image_tag "phone.png", style: "height: 100px" %>
        </div>
        <div class="row text-center">
          <h3>
            Phone
          </h3>
          <p>
            +0123 567890
          </p>
          <p>
            +1040 7828487
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 about-tile about-tile-right">
        <div class="row text-center">
          <%= image_tag "email.png", style: "height: 100px" %>
        </div>
        <div class="row text-center">
          <h3>
            Email
          </h3>
          <p>
            info@ruckit.ie
          </p>
          <p>
            support@ruckit.ie
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row contact-map text-center">
    <h1> Map Placeholder</h1>
  </div>
  <div class="row text-center">
    <h2><b>Get in Touch With Us</b></h2>
    <div class="text-center">
      <%= image_tag "w-title-b.png"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 contact-contact">
        <p>Name</p>
        <p>Email</p>
        <p>subject</p>
      </div>
    </div>
    <div class="col-md-6 contact-message">
      <div class="col-md-12">
        <p>Message</p>
        <h3 class="contact-btn-area"><b>
          <%= link_to "Send", root_path, :class => "contact-btn"%>
        </b></h3>
      </div>
    </div>
  </div>
</div>