<div class="container">
  <div class="row">
    <div class="header text-center">
      <%= image_tag "logo.1.png", style: "width: 400px"%>
      <div class="col-md-6 col-md-offset-3 search-bar">
        <h2>Searchbar Placeholder</h2>
      </div>

    </div>
  </div>
  <div class="row index-tiles">
    <div class="col-md-5 col-md-offset-1 index-tile-1">
      <h3>HOW RUCKIT CAN HELP</h3>
      <p><b>OUR GOAL</b></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue felis, blandit dignissim neque eget, euismod euismod risus. Donec lorem sem, imperdiet a elementum a, lacinia a nibh. Ut in metus scelerisque, efficitur nisi et, molestie nisi. Vivamus sit amet purus egestas, cursus nisi ac, convallis justo. Donec sed eleifend sapien, quis fringilla quam. </p>
      <p class="btn-area">
        <%= link_to "learn more", root_path, :class => "index-tile-btn"%>
      </p>
    </div>
    <div class="col-md-5">
      <h3>HOW IT WORKS?</h3>
      <p><b>IN JUST 3 EASY STEPS</b></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum augue felis, blandit dignissim neque eget, euismod euismod risus. Donec lorem sem, imperdiet a elementum a, lacinia a nibh. Ut in metus scelerisque, efficitur nisi et, molestie nisi. Vivamus sit amet purus egestas, cursus nisi ac, convallis justo. Donec sed eleifend sapien, quis fringilla quam. </p>
      <p class="btn-area">
        <%= link_to "sign up", root_path, :class => "index-tile-btn"%>
      </p>
    </div>
  </div>
  <div class="row fix-row">
    <div class="col-md-10 col-md-offset-1">
      <% @fixture.in_groups_of(4, false).each do |group| %>
        <div class='row fix-row-2'>
          <% group.each do |p| %>
            <div class='col-md-3'>
              <div class="col-md-12 fix-tile">
                <p class="text-center">
                  <% if p.image.url %>
                    <%= image_tag(p.image.url, {:style => "width:150px;"}) %>
                  <% end %>
                </p>
                <h3 class="text-center">
                  <b>
                    <%= link_to p.club_name, fixtures_path(p) %>
                  </b>
                </h3>
                <p class="text-center">
                  <%= sanitize(truncate(p.club_info, length: 100)) %>
                </p>
                <p class="text-center">
                  <b>
                  <%= p.city%>, <%= p.country%>
                  </b>
                </p>
                <p class="fix-tile-btn-area text-center">
                  <%= link_to "challenge", root_path, :class => "fix-tile-btn"%>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>